body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
   

}
header{
    background-color: #fff;
    width: 97%;
    height: 38px;
    position: sticky;
    top: 0;
    padding-left: 1.5%;
    padding-right: 1.5%;
    display: flex;
    justify-content: space-between;
    
}
header h1{
    font-family: Poppins,sans-serif;
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
    color: #666;
    margin-bottom: 10px;
    font-weight: bold;
}
header span{
    color: red;
}
header .hed{
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-right: 20px;
    color: red;
    margin-right: 0;
}
header .hed i{
    margin-right: 10px;
}

nav{
    width: 97%;
    height: 93px;
    background: linear-gradient(144deg,#e2211c,#e2211c 38%,#a91302 69%,#d00b03);
    padding-left: 1.5%;
    padding-right: 1.5%;
    display: flex;
    position: sticky;
    top: 38px;
    justify-content:space-between;
    
}
nav img{
    width: 120px;
    height: 83px;
}
nav .menu{
    height: 20px;
    width:50% ;
    margin-top: 30px;
    padding-left: 35%;
   
}
nav a{
    margin-left: 3%;
    line-height: 28px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #212529;
    color: #fff;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline tomato;
    text-decoration-thickness:3px ;
    text-decoration-: 10px;
    color:tomato;
}
.list{
    display: none;
}
.head img{
    width: 100%;

}
.second  {
    background-image: url(image/section-bg-1.jpg);
    width: 97%;
    height: 433px;
    margin-top: -25px;
    padding:1.5%;
    overflow: hidden;
    padding-right: 0%;
}
.second h1{
    font-family: Howling Nightmare;
    color: #e2211c;
    padding-bottom: 15px;
    font-weight: 800;
    margin: unset;
    font-size: 38px;
    font-weight: 600;
}
.second p.des{
    font-family: Poppins,sans-serif;
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
    
    
}
.discover{
    
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
}
.discover div{
    width: 183px;
    height: 260px;

}
.bgc{
    width:193px ;
    height:233px ;
    background-color: #e2211c;
    border-radius: 100%;
    display: none;
    padding: 30px;
    margin-left: -30px;
    margin-top: -280px;
    overflow: hidden;
    
}
.discover div img{
    width: 100%;
}
.discover div:hover .bgc{
display: block;
}
.prodect_revie{
    width: 100%;
    height: 438px;
    /* background: linear-gradient(144deg,#e2211c,#e2211c 24%,#d00b03 80% ); */
    background: linear-gradient(144deg,#e2211c,#e2211c 24%,#d00b03 80%);
    opacity: 0.9.5;
    display: flex;
    margin-bottom: 10%;


}
.base{
    width: 90%;
    height: 75%;
    margin-top: 5%;
    display: flex;
    margin-left: 5%;
}
.base div.right{
    margin-right: 5%;
    

}
.base  .right img{
    margin-left: 110px;

}
.base.left{
    margin-left: 30px;
}

.base h1{
    font-family: Howling Nightmare;
    color: #fff;
    padding-bottom: 15px;
    font-weight: 800;
    margin: unset;
    font-size: 38px;
    font-weight: 600;
}
.base p{
    font-family: Poppins,sans-serif;
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}
.more{
    width: 75px;
    height: 28px;
    padding: 8px 41px;
    border-radius: 0 20px 0 20px;
    margin-top: 20px;
    outline: unset!important;
    background-color: #eb2f28;
    box-shadow: unset!important;
    color: #fff;
    border: unset;
    cursor: pointer;
    display: inline-block;
}
.more h5{
  display: inline-block;
  float: left;
  font-family: Poppins,sans-serif;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;

}
.making{
    width: 100%;
    height: 396px;
    background-color: #fff;
    margin-bottom: 8%;
    

}
.making .lft{
 width: 70%;
 overflow-wrap: break-word;

}
.making .lft img{
    width: 75%;
    height: 80%;
    margin-top: -170px;
    margin-left: 5%;
    

}
.making .lft .two{
    width: 100%;
    height: 150px;
    margin-left: -30%;
    margin-top: -100%;
}
.not{
    display: flex;
}
.rgt{
    width: 100%;
    margin-right: 8%;
    margin-left: -100px;
}
.rgt h1{
    font-family: Howling Nightmare;
    color: #e2211c;
    padding-bottom: 15px;
    font-weight: 800;
    margin: unset;
    font-size: 38px;
    font-weight: 600;
}
.rgt p{
    font-family: Poppins,sans-serif;
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
}
.gallery{
    padding-left: 8%;
    padding-top: 10%;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gallery img{
    width: 50px;
    height: 50px;
}
.gallery h1{
    color: #e2211c;
    opacity: unset;
    text-align: center;
    margin-bottom: 15px;
    font-family: Poppins,sans-serif;
    line-height: 28px;
    font-size: 16px;
    margin-left: -65%;
    font-weight: 300;

}
.recipy{
    width: auto;
    height: 365px;
    background-image: url(image/white-painted-wood-textured-background.jpg);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left:80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.recipy h1{
    font-family: Howling Nightmare;
    color: #e2211c;
    padding-bottom: 15px;
    font-weight: 800;
    margin: unset;
    font-size: 38px;
    font-weight: 600;

}
.recipy p{
    font-family: Poppins,sans-serif;
    line-height: 28px;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}
.side2 img{
    width: 260px;
    height: 360px;
    margin-left: 200px;
}
.testimonel{
    width: 100%;
    height: 192px;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #fff;
}
.testimonel h1{
    font-family: Howling Nightmare;
    color: #e2211c;
    padding-bottom: 15px;
    margin: unset;
    font-size: 38px;
    font-weight: 600;
}
.testimonel img{
width: 40px;
height: 45px;

border-radius: 50%;




}
.testimonel p{
    font-family: Poppins,sans-serif;
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
    opacity: .6;
}
.testimonel h3{
    color: #e2211c;
    opacity: 0.6;
    font-size: 20px;
    font-family: Poppins,sans-serif;
    line-height: 28px;
    font-size: 24px;
    font-weight: 300;
}
.media{
    width: 100%;
    height: 475px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.media .photo{
    background: linear-gradient(0deg,#000,transparent);    height: 100%;
}
.media .photo img{
    width: 100%;
    height: 437px;
}
.media .other{
    display: grid;
    grid-template-rows: 65% 35%;
    
}
.top{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.top .r{
    position: relative;
    width: 100%;
    height: 100%;
}
.top .you{
    width: 100%;
    height: 100%;
    position: relative;
}
.top .r img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.media .bottom{
    display: grid;
    background-color: #fff;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.media .bottom .red{
    border-radius: 0 20px 0 20px;
    background-color:red;

}
.media .bottom .red i{
    fill: white;
    vertical-align: middle;
    font-size: 76px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    height: 100%;
    text-decoration: none;
    color: #fff;
}
.media .bottom .white i{
    fill: white;
    vertical-align: middle;
    font-size: 76px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    height: 100%;
    text-decoration: none;
    color: red;
}
.media .photo h4{
    background: linear-gradient(90deg,#f32170,#e2211c,#ac1202,#ca0c03);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 85px;
    font-weight: 100;
    margin-top: -200px;
    position: absolute;
    margin-left: 100px;    
   

}
.media .photo span{
    
    margin-right: -50px;
    font-weight: 400;
    font-size: 165px;
    
}
.media a{
    text-decoration: none;
}
.media .other .r h4 span{
    font-weight: 400;
    font-size: 165px;
    margin-right: -40px;
    margin-left:50px ;

}
.media .other .r h4{
background: linear-gradient(90deg,#f32170,#e2211c,#ac1202,#ca0c03);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1rem;
    position: absolute;
    margin-top: 100px;
}
.mob{
    display: none;
}
.foot{
    width: 100%;
    height: 392px;
    padding-top: 35px;
    padding-bottom: 65px;
    background-color: #2b2b2f;
    padding-bottom: 10%;
}
.foot .details{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5% 5% 5% 5%;
}
.foot hr{
    width: 90%;
    height: 0.5px;
    background: #343536;
    color: #343536;
    border-color: #343536;    margin: 5%;

}
.foot .details a{
    font-family: Poppins,sans-serif;
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    text-align:left;
    fill: #fff;
    
    
}
.foot i{
    margin-right: 10px;
}
.foot .abt{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 5%;
}
.foot .socials{
    margin: 0;
    padding: 25px 0 0;
    display: flex;
    position: relative;
}
.foot .socials i{
    width: 20px;
    height: 20px;
    padding: 2%;
    align-items: center;
    color: #fff;
    margin-top: -10px;
}
.foot .socials i:hover{
    background-color:red;
}
.foot h4{
    color: #fff;
    font-size: 18px;
}



.foot  .abtright a{
    font-size: 16px;
    float: left;
    display: block;
    color: #fff;
    text-decoration: none;
    font-family: Poppins,sans-serif;
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
    overflow-x: hidden;
    padding-top: 10px;
}
.foot .link{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
footer{
    background-color: red;
    height: 38px;
    padding: 30px ;
    text-align: center;
}
footer h4{
    font-family: Poppins,sans-serif;
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #fff;
}











@media screen and (min-width :808px){
    .second p.tab{
        display: none;
    }
    .second p.phone{
        display: none;
    }
    


   }













@media screen and (max-width :808px) {
   
nav .menu a{
    display: none;
}
/* div.list input{
    
}  */
div.list{
    width: 55px;
    height: 50px;
    padding: 5px; 
    margin-top: 20px;
 
    position: relative;
    
    display: block;


}

div.list svg{
    
    position: absolute;
    transition: all 0.2s ease;
}
div.list .header{
    width: 55px;
    height: 50px;
    padding: 5px; 
   
    display: block;
    cursor:pointer;
    font-size: 1.7rem;
    transition: all 0.5s ease;}

div.list input[type="checkbox"]{
    display: none;
}
div.list div.content{
   
    
    display: none;

    /* padding: 0px 30px;
    font-size: 1.5rem;
    font-weight: 400; */
    max-height: 0;
    margin-left: -1100%;
    position: relative;
    height: 288px;
    width: 700px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    background: linear-gradient(144deg,#e2211c,#e2211c 38%,#a91302 69%,#d00b03);
}
div.list input[type="checkbox"]:checked ~ div.content{
    display: grid;
    grid-template-columns: 1fr;
    max-height: 600px;
    width: 1210%;
    position: absolute;
    display: block;

    
}

.content a{
    display: block;
}
.second p.des{
    display: none;
}
.second p.tab{
    font-family: Poppins,sans-serif;
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
}
.second p.phone{
    display: none;
}
.discover div{
    display: none;

}
.discover{
    display: flex;
    justify-content:space-around;
}
.discover .main{
display: block;
margin-top: 50px;




}

.base h1{
    font-size: 38px;
    font-weight: 600;

    

}

.base{
    height: 400px;
    width: 700px;
    display:grid;
    grid-template-columns: 3fr 1fr;
    overflow: hidden;

}
.base .left{
    width: 510px;
    overflow: hidden;

}
.base .right img{
    width:150px;
    margin-left: 20px;    
}
.base .left p{
    text-align: justify;

    line-height: 28px;
    
    
}
.more{
    margin-left: 250px;

}
.gallery{
    display: none;
}
.making{
    margin-bottom: 0%;
    height: 230px;
    padding: 0;

}
.prodect_revie{
    margin-bottom: 0;
}
.making .lft img{
    margin-top: -100px;
}
.making .lft .two{
    margin-bottom: 200px;
    z-index: -2;
}
.recipy{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.side1 .more{
    margin-left: 90px;

}
.side1{
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.side2 img{
    margin-left: 50px;
    margin-right: 50px;
}
.testimonel h1{
    font-family: Howling Nightmare;
    color: #e2211c;
    padding-bottom: 15px;
    margin: unset;
    font-size: 27px;
    font-weight: 600;
}
.testimonel p{
    font-size: 16px;
    text-align: center;
    text-align: center;
    font-weight: 300px;
}
.media{
    height: 1026px;
    display: grid;
    grid-template-columns: 1fr;
}
.media .photo{
    height: 475px;
  
}
.media a{
    height: 475px;
}
.media .other{
    margin-top: -320px;
}
.media .bottom{
    height: 122px;
}
.media .photo h4{
    margin-left: 30%;
}
.foot .details{
    display: grid;
    grid-template-columns: 1fr;
}
.foot .link{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}












@media screen and (max-width:468px) {
    header{
        display: none;
    }
    nav{
        height: 56px;
        position: sticky;
        top: 0px;
    }
    nav img {
        width: 67px;
        height: 46px;
    }.list label{
        width: 33px;
        height: 33px;
        margin-top: -15px;
    }
    .list svg {
        width :33px;
        height: 33px;
    }
    div.list div.content{
   
    
        display: none;
    
        /* padding: 0px 30px;
        font-size: 1.5rem;
        font-weight: 400; */
        max-height: 0;
        margin-left: -480%;
        position: relative;
        height: 288px;
        width: 700px;
        padding-left: 1.5%;
        padding-right: 1.5%;
        background: linear-gradient(144deg,#e2211c,#e2211c 38%,#a91302 69%,#d00b03);
    }
    div.list input[type="checkbox"]:checked ~ div.content{
        display: grid;
        grid-template-columns: 1fr;
        max-height: 360px;
        margin-top: -20px;
        width: 597%;
        position: absolute;
        display: block;
    
        
    }
    .second p.tab{
        display: none;
    }
    .second p.phone{
        font-family: Poppins,sans-serif;
        line-height: 28px;
        font-size: 13px;
        font-weight: 300;
        word-spacing: 5px;
        display: block;  
        margin-left: 20px;      
    }
    .second h1{
        padding-bottom: 7px;
        font-size: 27px;
        margin-left: 20px;
        margin-bottom: 7px;
    }.prodect_revie{
        height: 850px;
        width: 100%;
    }
    .base{
        display:grid;
        grid-template-columns: 1fr ;
        width: 100%;
        height: 1000px;

    }
    .base .left{
        height: 90%;
        width: 95%;
        padding-right: 10%;
    }
    .base .left p{
        font-size: 13px;

    }
     .more{
        margin-left: 80px;
    }
    .base .right img{
        width: 90%;
        height: 80%;
        margin-top: -150px;

    }
    .base h1{
        padding-bottom: 7px;
        font-size: 27px;
    }
    .making{
        display: none;
    }
    .rgt{
        width: 100%;
        margin-right: 0%;
        margin-left: 0px;
        padding-left: 10px;
    }
    .rgt h1{
        margin-top: 10px;
    }
    .rgt p{
        margin-top: 5px;
        text-align: justify;
        margin-right: 10px;
    }
    .recipy{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        overflow:visible;
    }
    .recipy .side1 p{
        text-align: justify;
        margin-right: 10px;
        font-size: 13px;
        word-spacing: -2px;
    }
    .recipy .side2 img{
        margin-right: 30px;
        margin-left: 35px;
        margin-top: 20px;
    }
    .media{
        display: grid;
        grid-template-columns: max-content;
        
    }
    .media{
        height: 100%;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr;
    }
    .media .other .top{
        display: grid;
        grid-template-columns: 1fr;
    }
    /* .media .other .r{
        width: 100%;
    }
} */
    .top{
        height: 300%;
    }
    .top .you{
        margin-top: 0%;
        height: 20%;
    }
    .bottom{
       display: none;
    }
    .other .mob{
        display: block;
        width: 250%;
        height: 130%;
        display: grid;
        grid-template-columns: auto auto;
        margin-top:55%;
    }
    .media .photo h4{
        margin-top: -90%;
        margin-left: 20%;
        font-size: 60px;
    }
    .media .photo span{
        font-weight: 400;
    font-size: 90px;
    margin-right: -25px;
    }
    .foot{
        height: 100%;
        display: block;
        margin-top: 250%;
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 25%;

    }
    .foot .abt{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .media .mob{
        width: 100%;
        height: 100%;
        display: grid;
        background-color: #fff;
        grid-template-columns: auto auto;
        margin-top: 30px;
    }
    .media .mob .red{
        border-radius: 0 20px 0 20px;
        background-color:red;
    
    }
    .media .mob .red i{
        fill: white;
        vertical-align: middle;
        font-size: 76px;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        height: 100%;
        text-decoration: none;
        color: #fff;
    }
    .media .mob .white i{
        fill: white;
        vertical-align: middle;
        font-size: 76px;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        height: 100%;
        text-decoration: none;
        color: red;
    }
    footer{
        height: 28px;
        padding: 0;
        margin-top: -17px;
    }
    footer h4{
        font-size: 12px;
    }
    
}